* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.form_name,
.form_text {
    margin-bottom: 15px;
    padding: 5px;
    font-family: inherit;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comment_info {
    display: flex;
    max-width: 20%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
}

.comment_content {
    margin: 20px 0;
}

.name,
.date,
.message,
.delete {
    margin-left: 10px;
}

.delete {
    text-decoration: none;
    color: #000;
    border: 1px solid red;
    border-radius: 7px;
    padding: 5px;
    margin-top: 20px;
    transition: .2s;

}

.delete:hover {
    background: rgb(236, 10, 10);
    color: #fff;
}

.btn {
    margin-top: 15px;
    color: #fff;
    background: #7ddfc3;
    padding: 0 20px;
    height: 40px;
    width: auto;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    transition: .2s;
}

.btn:hover {
    background: #00c48c;
}