.container {
    max-width: 120rem;
    height: auto;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;

    @include breakpoint($mobile-bp) {
        padding-left: 0;
        padding-right: 0;
    }
}