.form {
    max-width: 28rem;
    margin: 0 auto;
}

.form__group {
    margin-bottom: 1.5rem;
    position: relative;

    &--md {
        margin-bottom: 2.5rem;
    }
}

.form__control {
    display: block;
    width: 100%;
    padding: .5rem 0 .75rem;
    background: none;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    border-radius: 0;
    box-shadow: 0;
    font-family: inherit;
    font-size: 1.4rem;
    color: $black;

    &::placeholder {
        color: rgba($black, .4);
    }

    &:focus + .form__line {
        width: 100%;
    }

    &--textarea {
        height: 32px;
        resize: none;
        overflow: hidden;
    }
}

.form__line {
    width: 0;
    height: 1px;
    background-color: rgb(182, 171, 171);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    transition: width .3s linear;
}

.form__select {
    margin-top: .5rem;
    font-family: inherit;
    line-height: 1;
}

.form__title {
    opacity: .4;
    font-size: 1.4rem;
}

.form__city {
    font-family: inherit;
    margin-top: .5rem;
}