.nav {
    padding-top: .3rem;
}

.nav__link {
    justify-content: left;
    padding-left: 1rem;
    text-decoration: none;
    color: $black;
    text-transform: uppercase;
    font-size: 1.4rem;
    opacity: .7;
    transition: opacity .2s linear;

    &:hover {
        text-decoration: underline;
        opacity: 1;
    }

}