.search {
    display: flex;
    height: 1.5em;

    @include breakpoint($tablet-bp) {
        display: none;
    }
}

.search__input {
    min-width: 30rem;
    font-family: inherit;
    height: auto;
    border-radius: 5px;
    border: 2px #ccc solid;

    &:focus {
        border-color: rgb(182, 171, 171);
    }

    &::placeholder {
        opacity: .7;
        font-size: 1.4rem;
    }
}