<header class="header">
    <div class="header__left">
        <div class="search">
            <input class="search__input" type="search" placeholder="Введите запрос">
            <button class="btn" type="submit">Поиск</button>
        </div>
        <button class="burger" type="button" id="sidebarToggle">
            <span>Открыть навигацию</span>
        </button>
    </div>
    <div class="header__right">
        <nav class="nav">
            <a class="nav__link" href="#">Обратная связь</a>
            <a class="nav__link" href="signup.html">Регистрация</a>
            <a class="nav__link" href="#">
                <img src="../assets/images/avatar.svg" alt="Cabinet">
            </a>
            <a class="nav__link" href="#">
                <img src="../assets/images/cart.svg" alt="Cabinet">
            </a>
        </nav>
    </div>
</header>
