<aside class="sidebar">
    <div class="sidebar__header">
        <img class="sidebar__img" src="https://via.placeholder.com/120" alt="">
        <a class="sidebar__name" href="#">Название</a>
    </div>
    <div class="sidebar__content">
        <ul class="sidebar__nav">
            <li class="sidebar__nav-item">
                <a class="sidebar__link" href="#">Категории</a>

                <ul class="subnav">
                    <li>
                        <a class="subnav__link" href="#">Бытовая техника</a>
                    </li>
                    <li>
                        <a class="subnav__link" href="#">Телефоны и аксессуары</a>
                    </li>
                    <li>
                        <a class="subnav__link" href="#">Компьютеры и комплектующие</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>