<aside class="sidebar">
    <div class="sidebar__header">
        <img class="sidebar__img" src="https://via.placeholder.com/120" alt="">
    </div>
    <div class="sidebar__content">
        <ul class="sidebar__nav">
            <a class="sidebar__link" href="#">Категории</a>
            <li>Для дома
                <ul>
                    <li>
                        1
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="sidebar__footer"></div>
</aside>