<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>

    <div class="page">
        <!-- Header -->
        {{> header }}

        <!-- Sidebar -->
        {{> sidebar }}

        <!-- Main -->
        <main class="main">
            <div class="container">
                {{> body }}
            </div>
        </main>
    </div>

    <!-- JS -->
    <script src="assets/js/app.js"></script>
</body>
</html>
